/* @author: william deam */

/* the style for the body */

body {
    width: 725px;
    background-color: gray;
    margin: 10px auto;
}
main {
    width: 50%;
    height: 500px;
    background-color: white;
    float: left;
}
aside {
    width: 50%;
    height: 500px;
    background-color: white;
    float: right;
}

h1, h2 {
    padding: 10px;
}
p {
    padding-left: 5px;
    padding-right: 5px;
}
footer {
    clear: both;
}
ul {
    padding-left: 10px;
}
li {
    padding-left: 10px;
}
.bluesomething img {
    border: 2px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 1000px;
    position: relative;
    right: 10px;
    top: 10px;
}
img {
    position: static;
}
