/* @author: william deam */
@media only screen and (max-width: 2024px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 959px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 767px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }
}
@media only screen and (max-width: 479px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }   
}

/* the style for the body */

body {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    background-color: gray;
    margin: 10px auto;
}
header {
    width: 97.917%;
    padding: 10px 1.0417%;
    clear: both;
    font-size: 2em;
}
main {
    width: 47.917%;
    padding: 10px 1.0417%;
    background-color: white;
    float: left;
}
aside {
    width: 47.917%;
    padding: 10px 1.0417%;
    background-color: white;
    float: right;
}


h1 {
    font-size: 1.75em;
    padding: 10px;
}
h2 {
    font-size: 1.5em;
    padding: 10px;
}
h3 {
    font-size: 1.125em;
    padding: 10px;
}
p {
    font-size: 1.125em;
    padding-left: 5px;
    padding-right: 5px;
}
blockquote {
    width: 47.917%;
    padding: 10px 1.0417%;
    float: center;
}
footer {
    font-size: .75em;
    width: 97.917%;
    padding: 10px 1.0417%;
    clear: both;
}
ul {
    padding-left: 10px;
}
li {
    padding-left: 10px;
}
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    font-size: 1.5em;
    text-align: left;
}
#nav_menu ul li {
    display: inline;
    padding: 0 1em;
}
#nav_menu ul li a {
    font-weight: bold;
    color: #ffffff;
}
#nav_menu ul li a.current { 
    text-decoration: none;    
}

figure {
    float: left;
    margin-right: 1.5em;
}

figcaption {
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
.sports {
    width: 100%;
    min-width: 300px;
    max-width: 1024px;
    position: relative;	
	margin:  0 auto;
	max-width: 630px;
    height: 350px;
}

.baseball img {
    
    width: 100%;
    min-width: 300px;
    max-width: 1024px;
    position: absolute;	
	overflow: hidden;
    border: 2px solid #B5D3E7;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    margin: 0;
	opacity: 1;
	max-width: 1024px;
	height: 350px;
}


.baseball .golf{
  z-index: 9999;
  transition: opacity 2s linear;
  cursor: pointer;
}

.baseball:hover > .golf {
  opacity: 0.1;
}


.bluesomething img {
    border: 2px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    position: relative;
    right: 10px;
    top: 10px;
}
img {
    position: static;
}
